<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog</title>


</head>

<body>

    <!-- Navigation -->
    {{>header}}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
               {{#each data}}
                <div class="post-preview">
                    <a href="/home/12345/{{this.title}}">
                        <h2 class="post-title" style="text-align: center;">
                            {{this.title}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{slice this.description}}..
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">{{this.author}}</a> on {{this.date}}</p>
                </div>
                <hr>
               {{/each}}
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="/home/12345?index=10">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

   <!--Footer-->
{{>footer}}

 
</body>

</html>
